span, div{
    width:80px;
    height:80px;
    margin:20px;
}

div.div_1{
    background:red;
    display:inline-block;
}

div.div_2{
    background:yellow;
    display:inline;
}

span{
    background:blue;
    display:block;
}